{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Account{% endblock %}
{% block content %}
<h1>Welcome {{ session["username"] }}</h1>
<h3>Manage your account</h3>
<ul>
    <!-- <li><a href="#">Change email</a></li> -->
    <!-- <li><a href="#">Change password</a></li> -->
    <li><a href="{{ url_for('manage2fa') }}">Manage two-factor authentication (2FA)</a></li>
    <li><a href="{{ url_for('manage_security_questions') }}">Manage security questions</a></li>
    <li><a href="{{ url_for('delete_account') }}">Delete account</a></li>
</ul>
{% endblock %}
<!-- 
<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'tab-change-email')">Change email</button>
    <button class="tablinks" onclick="openTab(event, 'tab-change-password')">Change password</button>
    <button class="tablinks" onclick="openTab(event, 'tab-2FA')">Two-factor authentication</button>
    <button class="tablinks" onclick="openTab(event, 'tab-security-questions')">Security questions</button>
    <button class="tablinks" onclick="openTab(event, 'tab-delete-account')">Delete account</button>
</div>

<div id="tab-change-email" class="tabcontent">
    <h4>Change email</p>
    <form id="change-email" action="/change_email" method="post">
        <input id="new-email" name="new-email" type="text" placeholder="Enter your new email" class="textbox"/></br></br>
        <input type="submit" class="btn" value="Update"></br>
    </form>
</div>

<div id="tab-change-password" class="tabcontent" style="display: none;">
    <h4>Change password</p>
    <form id="change-password" action="/change_password" method="post">
        <input id="password" name="password" type="password" placeholder="Enter your old password" class="textbox"/></br></br>
        <input id="new-password" name="new-password" type="password" placeholder="Enter your new password" class="textbox"/></br></br>
        <input type="submit" class="btn" value="Update"></br>
    </form>
</div>

<div id="tab-2FA" class="tabcontent" style="display: none;">
    <h4>Configure 2FA</h4>
    <a href="/account/manage2fa">Manage</a>
    
</div>

<div id="tab-security-questions" class="tabcontent" style="display: none;">
    <h4>Security questions</p>
    <form id="security-questions" action="/set_security_questions" method="post">
        <select id="question-1" name="question-1">
            <option value="1">In what city were you born?</option>
            <option value="2">What is the name of your favorite pet?</option>
            <option value="3">What is your mother's maiden name?</option>
            <option value="4">What high school did you attend?</option>
            <option value="5">What was the name of your elementary school?</option>
            <option value="6">What was the make of your first car?</option>
            <option value="7">What was your favorite food as a child?</option>
            <option value="8">Where did you meet your spouse?</option>
        </select>
        <input id="answer-1" name="answer-1" type="text" placeholder="Enter answer" class="textbox"/></br></br>
        <select id="question-2" name="question-2">
            <option value="1">In what city were you born?</option>
            <option value="2">What is the name of your favorite pet?</option>
            <option value="3">What is your mother's maiden name?</option>
            <option value="4">What high school did you attend?</option>
            <option value="5">What was the name of your elementary school?</option>
            <option value="6">What was the make of your first car?</option>
            <option value="7">What was your favorite food as a child?</option>
            <option value="8">Where did you meet your spouse?</option>
        </select>
        <input id="answer-2" name="answer-2" type="text" placeholder="Enter answer" class="textbox"/></br></br>
        <select id="question-3" name="question-3">
            <option value="1">In what city were you born?</option>
            <option value="2">What is the name of your favorite pet?</option>
            <option value="3">What is your mother's maiden name?</option>
            <option value="4">What high school did you attend?</option>
            <option value="5">What was the name of your elementary school?</option>
            <option value="6">What was the make of your first car?</option>
            <option value="7">What was your favorite food as a child?</option>
            <option value="8">Where did you meet your spouse?</option>
        </select>
        <input id="answer-3" name="answer-3" type="text" placeholder="Enter answer" class="textbox"/></br></br>
        <input type="submit" class="btn" value="Change"></br>
    </form>
</div>

<div id="tab-delete-account" class="tabcontent" style="display: none;">
    <h4>Delete account</h4>
    <form id="delete-account" action="/delete_account" method="post">
        <span>Are you sure you want to do this? This action can not be undone.</span></br></br>
        <input type="submit" class="btn" value="Delete"></br></br>
    </form>
</div> -->