{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Account{% endblock %}
{% block content %}
<br>
<h1>Welcome {{ session["username"] }}</h1>
<h3>Manage your account</h3>
<ul>
    <!-- <li><a href="#">Change email</a></li> -->
    <!-- <li><a href="#">Change password</a></li> -->
    <li><a href="{{ url_for('manage2fa') }}">Manage two-factor authentication (2FA)</a></li>
    <li><a href="{{ url_for('manage_security_questions') }}">Manage security questions</a></li>
    <li><a href="{{ url_for('delete_account') }}">Delete account</a></li>
</ul>
{% endblock %}
