{% extends "base.html" %}
{% block title %}All Evaluations{% endblock %}
{% block content %}
<h1>All Evaluations</h1>
View the evaluation requests from all users on the site below.
<table class="evaluations">
    <tr>
        <th>Evaluation Details</th>
        <th>Image</th>
        <th>Options</th>
    </tr>
    {% for row in evaluations %}
    <tr evaluation-id="{{ row[0] }}">
        <td>
            <b>Email:</b> {{ row[1] }}<br>
            <b>Phone no.:</b> Not finished<br>
            <b>Preferred Contact:</b> {{ row[3] }}<br>
            <b>Description:</b> {{ row[2] }}<br>
            <b>Evaluation:</b> Awaiting evaluation...
        </td>
        <td>
            {% if row[4] %}
            <img src="{{ url_for('evaluation_image', filename=row[4]) }}">
            {% else %}
            No Image supplied.
            {% endif %}
        </td>
        <td>
            <a href="#">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}