{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Lovejoy's Antiques</h1>
        <p class="col-md-8 fs-4">Your premier destination for discovering, listing, and evaluating timeless artifacts. Whether you're a seasoned collector, a curious novice, or simply someone with an inherited piece, our platform is designed to cater to all your antique needs.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</a>
        <a class="btn btn-outline-primary btn-lg" href="{{ url_for('register') }}">Register</a>
    </div>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 rounded-3">
            <h2>Diversity</h2>
            <p>At Lovejoy's Antiques, we understand the charm and historical significance of antiques. Our comprehensive marketplace offers a diverse array of items from various eras and regions, ensuring that every visitor can find something that resonates with their taste and interests. From elegant furniture and intricate jewelry to rare books and vintage artwork, our listings are curated to showcase the unique beauty and craftsmanship of each piece.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Request Now</h2>
            <p>In addition to our extensive marketplace, we offer a robust evaluation service. Our team of experienced appraisers is dedicated to providing accurate and insightful assessments of your antiques. Whether you're looking to understand the value of a family heirloom, preparing to sell a piece, or simply curious about its history, our experts are here to help.</p>
            <a class="btn btn-outline-secondary" href="{{ url_for('request_evaluation') }}">Request Evaluation</a>
        </div>
    </div>
</div>
{% endblock %}