{% extends "base.html" %}
{% block title %}Manage Security Questions{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<h1>Manage Security Questions</h1>
<form id="manage-security-questions" action="{{ url_for('manage_security_questions') }}" method="post">
    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}"/> 
    <dl>
        {{ render_field(form.question1) }}
        {{ render_field(form.answer1) }}
        {{ render_field(form.question2) }}
        {{ render_field(form.answer2) }}
        {{ render_field(form.question3) }}
        {{ render_field(form.answer3) }}
    </dl>
    <input type="submit" value="Update">
</form>
<br>
{% endblock %}