{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<br>
<h1>Register an account</h1>
<form id="register" action="{{ url_for('register') }}" method="post">
    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}"/> 
    {{ render_field(form.email, class_="form-control") }}
    {{ render_field(form.password, class_="form-control") }}
    {{ render_field(form.name, class_="form-control") }}
    {{ render_field(form.phone, class_="form-control") }}
    <br>
    <input class="btn btn-primary" type="submit" value="Register">
</form>
<br>
<span>Already have an account? <a href="{{ url_for('login') }}">Login</a> here.</span>
{% endblock %}